<div class = "container">
  <div class = "row">
    <div class = "col text-center">
      <h1>商品一覧</h1>
    </div>
  </div>
  <div class = "row">
    <div class = "col text-center">
      <div><%= link_to "商品新規登録", new_admin_item_path %></div>
    </div>
  </div>
 <div class = "row my-5">
    <% @items.each do |item| %>
    <div class = "col-10 col-md-3 mx-auto">
        <div class = "card-deck text-center">
          <div class = "card pt-4">
            <%= link_to admin_item_path(item) do %>
              <%= attachment_image_tag item, :image, fallback:  "no_image.jpg", :size =>'60x60', class: 'image' %>
            <% end %>
            <div class = "card-body text">
              <h4 class = "card-title"><%= link_to item.name, admin_item_path(item) %></h4>
              <P><%= item.introduction %></P>
              <P><%= item.price %></P>
              <P><%= item.is_active %></P>
            </div>
          </div>
        </div>
    </div>
    <% end %>
  </div>
</div>


